<div class="grid">
  <div class="col justify-content-center">
    <div class="md:col-offset-5">
      <!-- TODO: fix text position related to image. Check if there is extra white space in image or if image dimensions are appropriate -->
      <h1 data-greeting class="md:col-offset-1">Welcome back!</h1>
      <img [width]="400" [height]="400" src="./assets/images/pale-playing-guitar.png" alt="woman with guitar">
    </div>

    <h2>Dashboard</h2>

    <p>For Time Period: Last month</p>
    <p>Minutes practiced: 80</p>
    <p>Percent breakdown of time: songs/theory/physical</p>
    <p>Last five songs practiced</p>
    <p>Top time spent</p>
  </div>
</div>
