      <h1 data-greeting>Welcome back!</h1>
      <img [width]="400" [height]="400" src="./assets/pale-playing-guitar.png">
      <h2>Dashboard</h2>

<!--      <p>For Time Period: Last month</p>-->
<!--      <p>Minutes practiced: 80</p>-->
<!--      <p>Percent breakdown of time: songs/theory/physical</p>-->
<!--      <p>Last five songs practiced</p>-->
<!--      <p>Top time spent</p>-->
  <ul>

  </ul>


<!--  <nb-card>-->
<!--    <nb-card-header>-->
<!--      Player Dashboard-->
<!--    </nb-card-header>-->
<!--    <nb-header-cell>-->
<!--      Number of sessions-->
<!--    </nb-header-cell>-->
<!--    <p>13 in the last 30 days</p>-->
<!--  </nb-card>-->
