<div class="grid">
  <div class="col justify-content-center">
    <h1 data-greeting class="flex-column text-center">Welcome back!</h1>
    <!-- TODO: Fix formatting on SVG -->
    <img class="md:col-2 col-offset-5" [width]="400" [height]="400" src="./assets/pale-playing-guitar.png" alt="woman with guitar">
    <h2>Dashboard</h2>

    <p>For Time Period: Last month</p>
    <p>Minutes practiced: 80</p>
    <p>Percent breakdown of time: songs/theory/physical</p>
    <p>Last five songs practiced</p>
    <p>Top time spent</p>
  </div>
</div>
