<!--TODO: Refactor all this layout for new framework-->
<h1>Guitar Journey</h1>
<div class="surface-card">
  <div>
    <app-navigation-menu></app-navigation-menu>
  </div>
<div class="surface-card">
  <router-outlet>Router outlet</router-outlet>
</div>
</div>
<!--  <nb-layout-header data-app-title>Guitar Journey</nb-layout-header>-->
<!--  <nb-navigation>-->
<!--    <app-navigation></app-navigation>-->
<!--  </nb-navigation>-->
<!--  <nb-layout-column>-->
<!--    <router-outlet></router-outlet>-->
<!--  </nb-layout-column>-->

